<div id="av_section_3" class="avia-section alternate_color avia-section-large avia-shadow  avia-builder-el-25  el_after_av_section  container_wrap fullsize">
	<div class="container">
		<div class="template-page content  twelve alpha units">
			<div class="post-entry post-entry-type-page post-entry-734">
				<div class="entry-content-wrapper clearfix">
					<div class="flex_column av_one_half first  avia-builder-el-26  avia-builder-el-first  ">
						<section class="av_textblock_section" itemscope="itemscope" itemtype="">
							<div class="avia_textblock " itemprop="text">
								<h2 style="text-align: right;">About Us</h2>
							</div>
						</section>
						<div class="hr hr-short hr-right  avia-builder-el-28  el_after_av_textblock ">
							<span class="hr-inner">
								<span class="hr-inner-style"></span>
							</span>
						</div>
						<section class="av_textblock_section" itemscope="itemscope" itemtype="">
							<div class="avia_textblock " itemprop="text">
								<p style="text-align: right;">Lorem ipsum dolor sit amet, consectetuer <strong>adipiscing elit</strong>. Aenean commodo ligula eget dolor. Aenean massa.</p>
								<p style="text-align: right;">Nulla consequat massa quis enim.<br>
									Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.<br>
									In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.<br>
									Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi.<br>
									Aenean <strong style="text-align: right;">vulputate</strong> eleifend tellus.
								</p>
							</div>
						</section>
						<div class="hr hr-short hr-right  avia-builder-el-30  el_after_av_textblock ">
							<span class="hr-inner">
								<span class="hr-inner-style"></span>
							</span>
						</div>
						<div class="avia-button-wrap avia-button-right  avia-builder-el-31  el_after_av_hr  avia-builder-el-last ">
							<a href="" class="avia-button avia-icon_select-yes avia-color-theme-color-subtle avia-size-large avia-position-right ">
								<span class="avia_button_icon" aria-hidden="true" data-av_icon="" data-av_iconfont="entypo-fontello"></span>
								<span class="avia_iconbox_title">Check out our Team</span>
							</a>
						</div>
					</div>
					<div class="flex_column av_one_half   avia-builder-el-32  el_after_av_one_half  avia-builder-el-last  ">
						<div class="avia-icon-list-container  avia-builder-el-33  avia-builder-el-no-sibling ">
							<ul class="avia-icon-list avia-icon-list-left avia_animate_when_almost_visible avia_start_animation">
								<li class="avia_start_animation">
									<div class="iconlist_icon avia-font-">
										<span class="iconlist-char" aria-hidden="true" data-av_icon="" data-av_iconfont="entypo-fontello"></span>
									</div>
									<article class="article-icon-entry" itemscope="itemscope" itemtype="">
										<div class="iconlist_content_wrap">
											<header class="entry-content-header">
												<h4 class="iconlist_title" itemprop="headline">Crafted with love</h4>
											</header>
											<div class="iconlist_content" itemprop="text">
												<p>Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in.</p>
											</div>
										</div>
										<footer class="entry-footer"></footer>
									</article>
									<div class="iconlist-timeline"></div>
								</li>
								<li class="avia_start_animation">
									<div class="iconlist_icon avia-font-">
										<span class="iconlist-char" aria-hidden="true" data-av_icon="" data-av_iconfont="entypo-fontello"></span>
									</div>
									<article class="article-icon-entry" itemscope="itemscope" itemtype="">
										<div class="iconlist_content_wrap">
											<header class="entry-content-header">
												<h4 class="iconlist_title" itemprop="headline">Melodical by nature</h4>
											</header>
											<div class="iconlist_content" itemprop="text">
												<p>Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt.</p>
											</div>
										</div>
										<footer class="entry-footer"></footer>
									</article>
									<div class="iconlist-timeline"></div>
								</li>
								<li class="avia_start_animation">
									<div class="iconlist_icon avia-font-">
										<span class="iconlist-char" aria-hidden="true" data-av_icon="" data-av_iconfont="entypo-fontello"></span>
									</div>
									<article class="article-icon-entry" itemscope="itemscope" itemtype="">
										<div class="iconlist_content_wrap">
											<header class="entry-content-header"><h4 class="iconlist_title" itemprop="headline">Lightning Fast</h4>
											</header>
											<div class="iconlist_content" itemprop="text">
												<p>Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc, quis gravida magna mi a libero.</p>
											</div>
										</div>
										<footer class="entry-footer"></footer>
									</article>
									<div class="iconlist-timeline"></div>
								</li>
								<li class="avia_start_animation">
									<div class="iconlist_icon avia-font-">
										<span class="iconlist-char" aria-hidden="true" data-av_icon="" data-av_iconfont="entypo-fontello"></span>
									</div>
									<article class="article-icon-entry" itemscope="itemscope" itemtype="">
										<div class="iconlist_content_wrap">
											<header class="entry-content-header">
												<h4 class="iconlist_title" itemprop="headline">Freaky Flags</h4>
											</header>
											<div class="iconlist_content" itemprop="text">
												<p>Nullam quis ante. Etiam sit <strong>amet orci eget</strong> eros faucibus tincidunt.&nbsp;Donec vitae sapien ut libero venenatis faucibus.</p>
											</div>
										</div>
										<footer class="entry-footer"></footer>
									</article>
									<div class="iconlist-timeline"></div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div><!-- close content main div -->
	</div>
</div>