<div id="av_section_6" class="avia-section main_color avia-section-default avia-shadow  avia-builder-el-20  el_after_av_section  avia-builder-el-last  container_wrap fullsize"><div class="container"><div class="template-page content  twelve alpha units"><div class="post-entry post-entry-type-page post-entry-1108"><div class="entry-content-wrapper clearfix">

<div class="flex_column av_one_half first  avia-builder-el-21  el_before_av_one_half  avia-builder-el-first  ">


<div style="padding-bottom:20px;" class="av-special-heading av-special-heading-h4 meta-heading   avia-builder-el-27  el_before_av_contact  avia-builder-el-first "><h4 class="av-special-heading-tag" itemprop="headline">Get in Touch</h4><div class="special-heading-border"><div class="special-heading-inner-border"></div></div></div>
<form action="http://www.kriesi.at/themes/enfold/homepage/home-v2-3-col-images-contact/" method="post" class="avia_ajax_form  avia-builder-el-28  el_after_av_heading  avia-builder-el-last " data-avia-form-id="1"><fieldset><p class=" form_element_half" id="element_avia_name_1"><label for="avia_name_1">Name <abbr class="required" title="required">*</abbr></label> <input name="avia_name_1" class="text_input is_empty" type="text" id="avia_name_1" value=""></p><p class="  form_element_half_2  form_element_half" id="element_avia_e-mail_1"><label for="avia_e-mail_1">E-Mail <abbr class="required" title="required">*</abbr></label> <input name="avia_e-mail_1" class="text_input is_email" type="text" id="avia_e-mail_1" value=""></p><p class="" id="element_avia_message_1">	 <label for="avia_message_1" class="textare_label hidden textare_label_avia_message_1">Message <abbr class="required" title="required">*</abbr></label>	 <textarea name="avia_message_1" class="text_area is_empty" cols="40" rows="7" id="avia_message_1"></textarea></p><p class="hidden"><input type="text" name="avia_avia_username_1" class="hidden " id="avia_avia_username_1" value=""></p><p class=""><input type="hidden" value="1" name="avia_generated_form1"><input type="submit" value="Submit" class="button"></p></fieldset></form><div id="ajaxresponse_1" class="ajaxresponse ajaxresponse_1 hidden"></div>

</div>
<div class="flex_column av_one_half   avia-builder-el-26  el_after_av_one_half  avia-builder-el-last  ">

<div style="padding-bottom:20px;" class="av-special-heading av-special-heading-h4 meta-heading   avia-builder-el-22  el_before_av_textblock  avia-builder-el-first "><h4 class="av-special-heading-tag" itemprop="headline">How to Contact Us?</h4><div class="special-heading-border"><div class="special-heading-inner-border"></div></div></div>



<p>Fusce dapibus, tellus commodo, tortor mauris condimentum utellus fermentum, porta sem malesuada magna. Sed posuere consectetur est at lobortis. Morbi leo risus, porta ac consectetur.
<br/>
<br/>
Moose, Inc.<br/>
Moon Street Light Avenue, 14/05<br/>
Jupiter, JP 80630
<br/>
<br/>
<strong>Phone:</strong> (123) 456-7890 </br>
<strong>E-mail:</strong> info@krltechnologies.com
</p>


</div>
<p></p>
</div></div></div><!-- close content main div -->		</div><!--end builder template--></div>