<div id="av_section_6" class="avia-section socket_color avia-section-default avia-no-shadow avia-full-stretch  avia-builder-el-47  el_after_av_section  container_wrap fullsize" style="background-repeat: no-repeat; background-image: url(http://www.kriesi.at/themes/enfold/files/2013/04/room.jpg); background-attachment: scroll; background-position: top center; "><div class="container"><div class="template-page content  twelve alpha units"><div class="post-entry post-entry-type-page post-entry-734"><div class="entry-content-wrapper clearfix">
<section class="av_textblock_section" itemscope="itemscope" itemtype="http://schema.org/CreativeWork"><div class="avia_textblock " itemprop="text"><h2 style="text-align: center;">In case you need help</h2>
<p style="text-align: center;">Here are several ways to contact us</p>
</div></section>
<div style="height:30px" class="hr hr-invisible  avia-builder-el-49  el_after_av_textblock "><span class="hr-inner"><span class="hr-inner-style"></span></span></div>
<div class="flex_column av_one_third first  avia-builder-el-50  el_after_av_hr  ">
<article class="iconbox iconbox_top main_color  avia-builder-el-51  avia-builder-el-no-sibling " itemscope="itemscope" itemtype="http://schema.org/CreativeWork">        <div class="iconbox_content">        <header class="entry-content-header">            <div class="iconbox_icon heading-color" aria-hidden="true" data-av_icon="" data-av_iconfont="entypo-fontello"></div>            <h3 class="iconbox_content_title" itemprop="headline">Presales Question?</h3>        </header>        <div class="iconbox_content_container" itemprop="text"><p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.<br>
<a href="#">Learn more</a></p>
        </div>    </div>    <footer class="entry-footer"></footer></article>
</div><div class="flex_column av_one_third   avia-builder-el-52  el_after_av_one_third  ">
<article class="iconbox iconbox_top main_color  avia-builder-el-53  avia-builder-el-no-sibling " itemscope="itemscope" itemtype="http://schema.org/CreativeWork">        <div class="iconbox_content">        <header class="entry-content-header">            <div class="iconbox_icon heading-color" aria-hidden="true" data-av_icon="" data-av_iconfont="entypo-fontello"></div>            <h3 class="iconbox_content_title" itemprop="headline">Need Support?</h3>        </header>        <div class="iconbox_content_container" itemprop="text"><p>Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.<br>
<a href="#">Learn more</a></p>
        </div>    </div>    <footer class="entry-footer"></footer></article>
</div><div class="flex_column av_one_third   avia-builder-el-54  el_after_av_one_third  avia-builder-el-last  ">
<article class="iconbox iconbox_top main_color  avia-builder-el-55  avia-builder-el-no-sibling " itemscope="itemscope" itemtype="http://schema.org/CreativeWork">        <div class="iconbox_content">        <header class="entry-content-header">            <div class="iconbox_icon heading-color" aria-hidden="true" data-av_icon="" data-av_iconfont="entypo-fontello"></div>            <h3 class="iconbox_content_title" itemprop="headline">Check Forum</h3>        </header>        <div class="iconbox_content_container" itemprop="text"><p>Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.<br>
<a href="#">Learn more</a></p>
        </div>    </div>    <footer class="entry-footer"></footer></article>
</div>

</div></div></div><!-- close content main div --></div></div>