
<div class="container">
	<ul id="bottomslide" style="display: none;">
		<li>
			<img src="assets/flightcart-logo.png" />
			<a href="http://flightcart.travelwebsoftware.com/" target="_blank">
		</li>
		<li>
			<img src="assets/jamaica-logo.jpg" />
			<a href="http://www.personalchoicejamaica.com/" target="_blank">
		</li>
		<li>
			<img src="assets/kismetair-logo.png" />
			<a href="http://www.kismetair.com/" target="_blank">
		</li>
	</ul>
</div>

<script type="text/javascript">
    $("#bottomslide").flexisel({
        visibleItems: 5,
        animationSpeed: 1000,
        autoPlay: true,
        autoPlaySpeed: 3000,            
        pauseOnHover: true,
        enableResponsiveBreakpoints: true,
        responsiveBreakpoints: { 
            portrait: { 
                changePoint:480,
                visibleItems: 1
            }, 
            landscape: { 
                changePoint:640,
                visibleItems: 2
            },
            tablet: { 
                changePoint:768,
                visibleItems: 3
            }
        }
    });
</script>