<div id="after_layer_slider_1" class="main_color container_wrap fullsize" style="margin-top: -11px;border-top:solid 1px #e1e1e1">
	<div class="container">
		<div class="template-page content  twelve alpha units">
			<div class="post-entry post-entry-type-page post-entry-734">
				<div class="entry-content-wrapper clearfix">
					<div class="flex_column av_one_third first  avia-builder-el-1  el_after_av_layerslider  avia-builder-el-first  ">
						<article class="iconbox iconbox_left  avia-builder-el-2  avia-builder-el-no-sibling " itemscope="itemscope" itemtype="">
							<div class="iconbox_content">        
								<header class="entry-content-header">            
									<div class="iconbox_icon heading-color" aria-hidden="true" data-av_icon="" data-av_iconfont="entypo-fontello"></div>            
									<h3 class="iconbox_content_title" itemprop="headline">Engineering</h3>        
								</header>        
								<div class="iconbox_content_container" itemprop="text">
									<p style="text-align:justify">We have built our team to provide <strong>maximum impact in a minimum amount of time</strong>, ranging from high-availability APIs to large-scale front end applications. Whether it's integrating with your team or starting a project from scratch, our developers and designers will have your back from day one.</p>
								</div>    
							</div>    
						<footer class="entry-footer"></footer>
						</article>
					</div>
					<div class="flex_column av_one_third   avia-builder-el-3  el_after_av_one_third  ">
						<article class="iconbox iconbox_left  avia-builder-el-4  avia-builder-el-no-sibling " itemscope="itemscope" itemtype="">        
							<div class="iconbox_content">        
								<header class="entry-content-header">            
									<div class="iconbox_icon heading-color" aria-hidden="true" data-av_icon="" data-av_iconfont="entypo-fontello">
									</div>            
									<h3 class="iconbox_content_title" itemprop="headline">Design</h3>        
								</header>        
								<div class="iconbox_content_container" itemprop="text">
									<p style="text-align:justify">We design modern user <strong>interfaces for today's web and mobile applications.</strong> User research through personas, wire-frame sketching, high fidelity comps, and rigid testing highlight our data driven processes. Our value is measured through the usability of our applications.</p>
								</div>    
							</div>    
							<footer class="entry-footer"></footer>
						</article>
						</div>
						<div class="flex_column av_one_third   avia-builder-el-5  el_after_av_one_third  avia-builder-el-last  ">
							<article class="iconbox iconbox_left  avia-builder-el-6  avia-builder-el-no-sibling " itemscope="itemscope" itemtype="">        
								<div class="iconbox_content">        
									<header class="entry-content-header">            
										<div class="iconbox_icon heading-color" aria-hidden="true" data-av_icon="" data-av_iconfont="entypo-fontello">
										</div>            
										<h3 class="iconbox_content_title" itemprop="headline">Leaders</h3>        
									</header>        
									<div class="iconbox_content_container" itemprop="text">
										<p style="text-align:justify">Quick Left specializes in custom application development and consulting. We focus on bringing specialized technical leadership to every project we take on, working to set goals, analyze data and bring software projects to fruition for our clients. Come find out what it's like to start a project with us
										</p>
									</div>    
								</div>    
								<footer class="entry-footer"></footer>
							</article>
						</div>
					</div>
				</div>
			</div><!-- close content main div -->
		</div>
	</div>