<div id="after_layer_slider_1" class="main_color container_wrap fullsize" style="margin-top: -11px;">
	<div class="container">
		<div class="template-page content  twelve alpha units">
			<div class="post-entry post-entry-type-page post-entry-734">
				<div class="entry-content-wrapper clearfix">
					<div class="flex_column av_one_third first  avia-builder-el-1  el_after_av_layerslider  avia-builder-el-first  ">
						<article class="iconbox iconbox_left  avia-builder-el-2  avia-builder-el-no-sibling " itemscope="itemscope" itemtype="">
							<div class="iconbox_content">        
								<header class="entry-content-header">            
									<div class="iconbox_icon heading-color" aria-hidden="true" data-av_icon="" data-av_iconfont="entypo-fontello"></div>            
									<h3 class="iconbox_content_title" itemprop="headline">A real Time-Saver</h3>        
								</header>        
								<div class="iconbox_content_container" itemprop="text"><p>Enfold is a powerful Theme that comes with an easy <strong>drag and drop admin interface</strong>.<br>
									Set up new sites in no time!</p>
								</div>    
							</div>    
						<footer class="entry-footer"></footer>
						</article>
					</div>
					<div class="flex_column av_one_third   avia-builder-el-3  el_after_av_one_third  ">
						<article class="iconbox iconbox_left  avia-builder-el-4  avia-builder-el-no-sibling " itemscope="itemscope" itemtype="">        
							<div class="iconbox_content">        
								<header class="entry-content-header">            
									<div class="iconbox_icon heading-color" aria-hidden="true" data-av_icon="" data-av_iconfont="entypo-fontello">
									</div>            
									<h3 class="iconbox_content_title" itemprop="headline">Free updates &amp; support</h3>        
								</header>        
								<div class="iconbox_content_container" itemprop="text">
									<p>56.000 customers cant be wrong.
										<br>
										We offer 
										<strong>free lifetime support</strong> and updates for all our themes!<a href="#"><br>
									</a>
								</p>
								</div>    
							</div>    
							<footer class="entry-footer"></footer>
						</article>
						</div>
						<div class="flex_column av_one_third   avia-builder-el-5  el_after_av_one_third  avia-builder-el-last  ">
							<article class="iconbox iconbox_left  avia-builder-el-6  avia-builder-el-no-sibling " itemscope="itemscope" itemtype="">        
								<div class="iconbox_content">        
									<header class="entry-content-header">            
										<div class="iconbox_icon heading-color" aria-hidden="true" data-av_icon="" data-av_iconfont="entypo-fontello">
										</div>            
										<h3 class="iconbox_content_title" itemprop="headline">No Rocket Science</h3>        
									</header>        
									<div class="iconbox_content_container" itemprop="text">
										<p>Whether you have never touched a line of code or are a WordPress-Ninja, this theme is built for users of <strong>all skill levels</strong>…
											<a href="#"><br>
											</a>
										</p>
									</div>    
								</div>    
								<footer class="entry-footer"></footer>
							</article>
						</div>
					</div>
				</div>
			</div><!-- close content main div -->
		</div>
	</div>