<!-- Responsive slider - START -->
<div class="responsive-slider" data-spy="responsive-slider" data-autoplay="true">
  <div class="slides" data-group="slides">
    <ul>
      <li>
        <div class="slide-body" data-group="slide">
          <%= image_tag "floor.jpg", :style => "width:100%" %>
          <div class="caption header" data-animate="slideAppearLeftToRight" data-delay="500" data-length="300">
            <h2 style="margin-left: 19%;">Responsive slider</h2>
            <div class="caption sub" data-animate="slideAppearLeftToRight" data-delay="800" data-length="300">With one to one swipe movement!</div>
          </div>
          <div class="caption img-html5" data-animate="slideAppearRightToLeft" data-delay="200">
            <%= image_tag "travelweb.png", :style => "padding-left: 31%; margin-left: -52%; margin-top: 15%" %>
          </div>
          <div class="caption img-css3" data-animate="slideAppearLeftToRight">
          </div>
        </div>
      </li>
      <li>
        <div class="slide-body" data-group="slide">
          <%= image_tag "room.jpg", :style=> "width:100%" %>
          <div class="caption header" data-animate="slideAppearRightToLeft" data-delay="500" data-length="300">
            <h2 style="margin-left: 19%;">Twitter Boostrap</h2>
            <div class="caption sub" data-animate="slideAppearLeftToRight" data-delay="800" data-length="300" style="margin-left: 19%;">Compatible!</div>
          </div>
          <div class="caption img-html5" style="margin-left: 20px;" data-animate="slideAppearUpToDown" data-delay="200">
            <img src="assets/jackys.jpg" style="margin-left: -10%; margin-top: 24%;">
          </div>
          <div class="caption img-html5" data-animate="slideAppearUpToDown" data-delay="600">
            <img src="assets/jamaica.jpg" style="margin-left: -39%; margin-top: 14%;">
          </div>
          <div class="caption img-html5" data-animate="slideAppearUpToDown" data-delay="1000">
            <img src="assets/travelweb.jpg" style="margin-left: -64%; margin-top: 3%;">
          </div>
          <div class="caption img-twitter" data-animate="slideAppearUpToDown">
          </div>
        </div>
      </li>
    </ul>
  </div>
  <a class="slider-control left ls-nav-prev" href="#" data-jump="prev"><</a>
  <a class="slider-control right ls-nav-next" href="#" data-jump="next">></a>
  <div class="pages">
    <a class="page" href="#" data-jump-to="1">1</a>
    <a class="page" href="#" data-jump-to="2">2</a>
  </div>
</div>
<!-- Responsive slider - END -->


<script>
$( document ).ready( function() {
  $('.responsive-slider').responsiveSlider({
    autoplay: true,
    interval: 7000,
    transitionTime: 300
  });
});
</script>

