<div id="av_section_1" class="avia-section alternate_color avia-section-large avia-shadow  avia-builder-el-7  el_after_av_one_third  container_wrap fullsize"><div class="container"><div class="template-page content  twelve alpha units"><div class="post-entry post-entry-type-page post-entry-734"><div class="entry-content-wrapper clearfix avia_sortable_active">
<div class="flex_column av_one_full first  avia-builder-el-8  avia-builder-el-no-sibling  ">
<section class="av_textblock_section" itemscope="itemscope" itemtype="http://schema.org/CreativeWork"><div class="avia_textblock " itemprop="text"><h2 style="text-align: center;">Some of Our Work</h2>
</div></section>
<div class="hr hr-short hr-center  avia-builder-el-10  el_after_av_textblock "><span class="hr-inner"><span class="hr-inner-style"></span></span></div>
<section class="av_textblock_section" itemscope="itemscope" itemtype="http://schema.org/CreativeWork"><div class="avia_textblock " itemprop="text"><p style="text-align: center;">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt<br> ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation</p>
</div></section>


<div style="height:70px" class="hr hr-invisible  avia-builder-el-12  el_after_av_textblock "><span class="hr-inner"><span class="hr-inner-style"></span></span></div>
<div class="grid-sort-container isotope no_margin-container with-title-container grid-total-odd grid-col-3 grid-links- isotope_activated" data-portfolio-id="1" style="position: relative; overflow: visible; height: 323px;">


	<div data-ajax-id="1502" class="grid-entry flex_column isotope-item all_sort no_margin post-entry post-entry-1502 grid-entry-overview grid-loop-2 grid-parity-even  css_sort psd_sort  av_one_third  default_av_fullwidth" style="position: absolute; left: 0px; top: 0px; -webkit-transform: translate3d(343px, 0px, 0px);"><article class="main_color inner-entry" itemscope="itemscope" itemtype="http://schema.org/CreativeWork"><a href="http://www.travelwebsoftware.com/" title="TravelWeb Software" data-rel="grid-1" class="grid-image avia-hover-fx" style="height: auto; opacity: 1;">

	<img width="495" height="400" src="./assets/travelwebss.jpg" class="attachment-portfolio wp-post-image" alt="dash_glass2">


	<span class="image-overlay overlay-type-extern" style="opacity: 0; left: 0px; top: 0px; display: block; height: 276px; width: 342px;"><span class="image-overlay-inside"></span></span></a><div class="grid-content"><div class="avia-arrow"></div><header class="entry-content-header"><h3 class="grid-entry-title entry-title" itemprop="headline"><a href="http://www.travelwebsoftware.com/" title="TravelWeb Software">TravelWeb Software</a></h3></header></div><footer class="entry-footer"></footer></article>
	</div>

	<div data-ajax-id="1502" class="grid-entry flex_column isotope-item all_sort no_margin post-entry post-entry-1502 grid-entry-overview grid-loop-2 grid-parity-even  css_sort psd_sort  av_one_third  default_av_fullwidth" style="position: absolute; left: 0px; top: 0px; -webkit-transform: translate3d(343px, 0px, 0px);"><article class="main_color inner-entry" itemscope="itemscope" itemtype="http://schema.org/CreativeWork"><a href="http://cheerwine.herokuapp.com/" title="Cheerwine" data-rel="grid-1" class="grid-image avia-hover-fx" style="height: auto; opacity: 1;">

	<img width="495" height="400" src="./assets/cheerwiness.jpg" class="attachment-portfolio wp-post-image" alt="dash_glass2">


	<span class="image-overlay overlay-type-extern" style="opacity: 0; left: 0px; top: 0px; display: block; height: 276px; width: 342px;"><span class="image-overlay-inside"></span></span></a><div class="grid-content"><div class="avia-arrow"></div><header class="entry-content-header"><h3 class="grid-entry-title entry-title" itemprop="headline"><a href="http://cheerwine.herokuapp.com/" title="Cheerwine">Cheerwine</a></h3></header></div><footer class="entry-footer"></footer></article>
	</div>


	<div data-ajax-id="1501" class="grid-entry flex_column isotope-item all_sort no_margin post-entry post-entry-1501 grid-entry-overview grid-loop-3 grid-parity-odd  post-entry-last  css_sort html_sort  av_one_third  default_av_fullwidth" style="position: absolute; left: 0px; top: 0px; -webkit-transform: translate3d(686px, 0px, 0px);"><article class="main_color inner-entry" itemscope="itemscope" itemtype="http://schema.org/CreativeWork"><a href="http://www.mermerspeti.com/" title="Mermer Sepeti" data-rel="grid-1" class="grid-image avia-hover-fx" style="height: auto; opacity: 1;">


	<img width="495" height="400" src="./assets/mermersepetiss.jpg" class="attachment-portfolio wp-post-image" alt="dash_calendar">


	<span class="image-overlay overlay-type-extern" style="opacity: 0; left: 0px; top: 0px; display: block; height: 276px; width: 342px;"><span class="image-overlay-inside"></span></span></a><div class="grid-content"><div class="avia-arrow"></div><header class="entry-content-header"><h3 class="grid-entry-title entry-title" itemprop="headline"><a href="http://www.mermerspeti.com/" title="Mozaik Sepeti">Mozaik Sepeti</a></h3></header></div><footer class="entry-footer"></footer></article></div></div>
<div class="hr hr-short hr-center  avia-builder-el-14  el_after_av_portfolio "><span class="hr-inner"><span class="hr-inner-style"></span></span></div>
<section class="av_textblock_section" itemscope="itemscope" itemtype="http://schema.org/CreativeWork"><div class="avia_textblock " itemprop="text"><p style="text-align: center;">

	<a title="Portfolio" href="/home/portfolio">View the Full Portfolio here</a>


</p>
</div></section>
</div>

</div></div></div><!-- close content main div --></div></div>