<footer class="container_wrap socket_color" id="socket" role="contentinfo" itemscope="itemscope" itemtype="http://schema.org/WPFooter">
    <div class="container">

        <span class="copyright">© Copyright  - <a href="http://www.kriesi.at/themes/enfold/">Enfold Theme Demo</a> - <a href="http://www.kriesi.at">Enfold Theme by Kriesi</a></span>

        <nav class="sub_menu_socket" role="navigation" itemscope="itemscope" itemtype="http://schema.org/SiteNavigationElement"><div class="avia3-menu"><ul id="avia3-menu" class="menu"><li id="menu-item-999" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home current-menu-ancestor current-menu-parent menu-item-999"><a href="http://www.kriesi.at/themes/enfold/">Home</a></li>
			<li id="menu-item-1562" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1562"><a href="http://www.kriesi.at/themes/enfold/features/">Features</a></li>
			<li id="menu-item-1561" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1561"><a href="http://www.kriesi.at/themes/enfold/headers/">Headers</a></li>
			<li id="menu-item-1001" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1001"><a href="http://www.kriesi.at/themes/enfold/portfolio/">Portfolio</a></li>
			<li id="menu-item-1000" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1000"><a href="http://www.kriesi.at/themes/enfold/blog/">Blog</a></li>
			<li id="menu-item-1123" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-ancestor current_page_ancestor menu-item-1123"><a href="http://www.kriesi.at/themes/enfold/pages/">Pages</a></li>
			<li id="menu-item-1004" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1004"><a href="http://www.kriesi.at/themes/enfold/shortcodes/">Shortcodes</a></li>
			<li id="menu-item-2304" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2304"><a href="http://www.kriesi.at/themes/enfold/shop/">Shop</a></li>
			</ul></div>
		</nav>
    </div>

</footer>