<footer class="container_wrap socket_color" id="socket" role="contentinfo" itemscope="itemscope" itemtype="">
    <div class="container">

        <span class="copyright">© Copyright  - <a href="">Krl Technologies</a></span>

        <nav class="sub_menu_socket" role="navigation" itemscope="itemscope" itemtype="http://schema.org/SiteNavigationElement"><div class="avia3-menu"><ul id="avia3-menu" class="menu"><li id="menu-item-999" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home current-menu-ancestor current-menu-parent menu-item-999"><a href="">Home</a></li>
			<li id="menu-item-1562" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1562"><a href="#av_section_3">About Us</a></li>
			<li id="menu-item-1561" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1561"><a href="#av_section_2">Some of Our Work</a></li>
			<li id="menu-item-1001" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1001"><a href="#av_section_6">Contact Us</a></li>
			<li id="menu-item-1000" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1000"><a href="">Portfolio</a></li>
			</ul></div>
		</nav>
    </div>

</footer>