<header id="header" class="header_color light_bg_color mobile_slide_out mobile_menu_tablet" role="banner" itemscope="itemscope" itemtype="">

<a id="advanced_menu_toggle" href="#" aria-hidden="true" data-av_icon="" data-av_iconfont="entypo-fontello"></a><a id="advanced_menu_hide" href="#" aria-hidden="true" data-av_icon="" data-av_iconfont="entypo-fontello"></a>

<div id="header_main" class="container_wrap container_wrap_logo">


<div class="container" style="height: 88px; line-height: 88px;">

	<strong class="logo bg-logo" style="max-width: 240px; width: auto;">
		<a href="" style="max-height: 88px;">
			<%= image_tag "logo5.png", :title => "Krl Technologies", :style => "width: 240px; width: auto; max-height: 88px", :alt => "Krl Technologies" %>
			
		</a>
	</strong>

	<nav class="main_menu" data-selectname="Select a page" role="navigation" itemscope="itemscope" itemtype="">
		<div class="avia-menu">
			<ul id="avia-menu" class="menu">
				<li id="menu-item-999" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home current-menu-ancestor current-menu-parent dropdown_ul_available">
					<a href="" style="padding-right: 13px; padding-left: 13px; height: 88px; line-height: 88px;">
						<span class="avia-bullet"></span>
						Home
						<span class="avia-menu-fx">
							<span class="avia-arrow-wrap">
								<span class="avia-arrow">
								</span>
							</span>
						</span>
						<span class="dropdown_available">
						</span>
					</a>
				</li>
				<li id="menu-item-1562" class="menu-item menu-item-type-post_type menu-item-object-page">
					<a href="" style="padding-right: 13px; padding-left: 13px; height: 88px; line-height: 88px;">
						<span class="avia-bullet">
						</span>
						Features
						<span class="avia-menu-fx">
							<span class="avia-arrow-wrap">
								<span class="avia-arrow">
								</span>
							</span>
						</span>
					</a>
				</li>
				<li id="menu-item-1562" class="menu-item menu-item-type-post_type menu-item-object-page">
					<a href="" style="padding-right: 13px; padding-left: 13px; height: 88px; line-height: 88px;">
						<span class="avia-bullet">
						</span>
						Features
						<span class="avia-menu-fx">
							<span class="avia-arrow-wrap">
								<span class="avia-arrow">
								</span>
							</span>
						</span>
					</a>
				</li>
				<li id="menu-item-1562" class="menu-item menu-item-type-post_type menu-item-object-page">
					<a href="" style="padding-right: 13px; padding-left: 13px; height: 88px; line-height: 88px;">
						<span class="avia-bullet">
						</span>
						Features
						<span class="avia-menu-fx">
							<span class="avia-arrow-wrap">
								<span class="avia-arrow">
								</span>
							</span>
						</span>
					</a>
				</li>
				<li id="menu-item-1562" class="menu-item menu-item-type-post_type menu-item-object-page">
					<a href="" style="padding-right: 13px; padding-left: 13px; height: 88px; line-height: 88px;">
						<span class="avia-bullet">
						</span>
						Features
						<span class="avia-menu-fx">
							<span class="avia-arrow-wrap">
								<span class="avia-arrow">
								</span>
							</span>
						</span>
					</a>
				</li>
				<li id="menu-item-1562" class="menu-item menu-item-type-post_type menu-item-object-page">
					<a href="" style="padding-right: 13px; padding-left: 13px; height: 88px; line-height: 88px;">
						<span class="avia-bullet">
						</span>
						Features
						<span class="avia-menu-fx">
							<span class="avia-arrow-wrap">
								<span class="avia-arrow">
								</span>
							</span>
						</span>
					</a>
				</li>
				<li id="menu-item-1562" class="menu-item menu-item-type-post_type menu-item-object-page">
					<a href="" style="padding-right: 13px; padding-left: 13px; height: 88px; line-height: 88px;">
						<span class="avia-bullet">
						</span>
						Features
						<span class="avia-menu-fx">
							<span class="avia-arrow-wrap">
								<span class="avia-arrow">
								</span>
							</span>
						</span>
					</a>
				</li>
				<li id="menu-item-1562" class="menu-item menu-item-type-post_type menu-item-object-page">
					<a href="" style="padding-right: 13px; padding-left: 13px; height: 88px; line-height: 88px;">
						<span class="avia-bullet">
						</span>
						Features
						<span class="avia-menu-fx">
							<span class="avia-arrow-wrap">
								<span class="avia-arrow">
								</span>
							</span>
						</span>
					</a>
				</li>
	</ul></div></nav>                    <!-- end container-->
</div>



<!-- end container_wrap-->
</div>

<div class="header_bg"></div>

<!-- end header -->
</header>